<app-header></app-header>
<h2
  class="font-bold text-5xl mt-16 mb-16 w-full text-center uppercase md:text-8xl"
>
  My Backpack
</h2>
<div
  class="skills w-[90%] h-screen mx-auto grid grid-cols-2 mb-12 rounded-full bg-ciruclalight md:grid-cols-4"
>
  <button
    class="bx bxl-html5 text-9xl text-orange-600"
    id="hover-button"
    title="HTML5-GOOD"
  ></button>
  <button
    class="bx bxl-css3 text-9xl text-blue-600"
    id="hover-button"
    title="CSS3-GOOD"
  ></button>
  <button
    class="bx bxl-bootstrap text-9xl text-violet-950"
    id="hover-button"
    title="BOOTSTRAP-GOOD"
  ></button>
  <button
    class="bx bxl-tailwind-css text-9xl text-blue-400"
    id="hover-button"
    title="TAILWIND_CSS-GOOD"
  ></button>
  <button
    class="bx bxl-javascript text-9xl text-yellow-400"
    id="hover-button"
    title="JAVASCRIPT-INTERMEDIATE"
  ></button>
  <button
    class="bx bxl-angular text-9xl text-red-700"
    id="hover-button"
    title="ANGULAR-INTERMEDIATE"
  ></button>
  <button
    class="bx bxl-spring-boot text-9xl text-green-500"
    id="hover-button"
    title="SPRING_BOOT-INTERMEDIATE"
  ></button>
  <button
    class="bx bxl-git text-9xl text-orange-600"
    id="hover-button"
    title="GIT-GOOD"
  ></button>
  <button
    class="bx bxl-wordpress text-9xl text-blue-300"
    id="hover-button"
    title="WORDPRESS-GOOD"
  ></button>
  <button
    class="bx bxl-nodejs text-9xl text-green-300"
    id="hover-button"
    title="NODE_JS-INTERMEDIATE"
  ></button>
</div>
