<app-header></app-header>

<div class="grid grid-cols-1 md:grid-cols-2">
  <img
    class="w-[90%] h-auto"
    src="https://minimal-nextjs-portfolio-website.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fdeveloper-pic-1.d43c09fa.png&w=1920&q=75"
  />
  <div>
    <h2 class="jumbtron-text mt-40 mx-5 text-7xl font-bold"></h2>
    <p class="block mt-2 mx-5 text-lg text-slate-900">
      Hello I'm Jihad Mikram Web Developer With Extensive Knowledge And
      Technologies.I Always Tried To Improve My Skills In This Field.Thank You
      For Taking the Time to Check My Portfolio!
    </p>
    <div class="flex mb-10 mx-5">
      <a
        href="./src/assets/pdf/Jihad-cv-French.pdf"
        class="mt-8 p-2.5 px-9 text-lg bg-black text-white font-semibold rounded-lg hover:bg-white hover:text-slate-950 hover:border-2 hover:border-black"
        download=""
      >
        Resume
      </a>
      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jihadmikram10@gmail.com"
        class="mt-8 p-2.5 px-9 text-lg font-semibold underline"
        >Contact</a
      >
    </div>
  </div>
</div>
